<!DOCTYPE html>

<head>
  <title>Locations of free drinking water</title>
  <meta name="description"
    content="This open dataset lists locations where drinking water is available for free. For every water location a precise geolocation is specified, as well as the responsible maintainer.">
  <meta name="author" content="Tin Plavec">
  <meta name="version" content="2.0">
  <meta name="language" content="English">
  <meta name="keywords" content="water, source, geolocation">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
</head>

<body>
  <div class="top-bar">
    <h1>Locations of free drinking water</h1>
    <% if(loggedIn){ %>
      <h3 id="my-profile"><a href="/profile">My profile</a></h3>
      <h3><a href="/logout">Log out</a></h3>
      <% } else{ %>
        <h3 id="login"><a href="/login">Log in</a></h3>
        <% } %>
  </div>
  <div class="menu">
    <h3><a href="./locations.csv">Get CSV file</a></h3>
    <h3><a href="./locations.json">Get JSON file</a></h3>
    <% if(loggedIn){ %>
      <h3><a href="/refresh">Refresh files</a></h3>
      <% } %>
        <h3><a href="./datatable.html">Explore data</a></h3>
  </div>

  <script
    src="https://emgithub.com/embed-v2.js?target=https%3A%2F%2Fgithub.com%2Fplavy%2For%2Fblob%2Fmain%2FREADME.md&style=default&type=markdown&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></script>
  <div class="github-button">
    <h3><a href="https://github.com/plavy/or" target="_blank">Open the GitHub repo</a></h3>
  </div>
</body>

</html>